/* head */
.header{
    height: 48px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    z-index: 3;
}
.wrap{
    width: 1258px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header .wrap .logo{
    position: absolute;
    left: 0;
    top: 7px;
    background: url(../images/7-27.png) left center no-repeat;
    width: 115px;
    height: 100%;
}
.logo img {
    border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.header .wrap .logo a{
    display: block;
    height: 100%;
}
.header .tools{
    position: absolute;
    right: 0;
    top: 8px;
}
.header .tools .d{
    padding: 0 0 0 15px;
    border-left: 1px solid #ddd;
    display: inline-block;
    height: 16px;
    margin-left: 15px;
    vertical-align: middle;
}
.header .tools .me{
    width: 34px;
    height: 34px;
    border-left: 0;
    overflow: hidden;
    padding-left: 0;
    vertical-align: middle;
}
.header .tools .me img{
    width: 100%;
    max-height: none;
}
.header .tools .d span{
    overflow: hidden;
    display: inline-block;
    height: 16px;
    position: relative;
    cursor: pointer;
    width: 15px;
    padding-right: 20px;
    z-index: 6;
}
.header .language{
    display: none;
    background: url(../images/7-36.png) no-repeat 0 bottom;
    width: 80px;
    height: 70px;
    position: absolute;
    top: 0;
    padding-top: 37px;
    left: -2px;
}
.header .language .a{
    cursor: pointer;
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    padding: 0;
    color: #474747;
    text-align: center;
}
.header .language .a:hover{
    color: #c2a680;
}

.header .tools span img{
    max-height: none;
    width: 100%;
    display: block;
}
.header .login:hover img{
    margin-top: -18px;
}
.header .lang:hover img{
    margin-top: -20px;
}
.header .scbtn:hover img{
    margin-top: -20px;
}
.header .me:hover img{
    margin-top: -34px;
}
.header .tools .d span:after{
    position: absolute;
    right: 0;
    top: 6px;
    border-top: 5px solid #909090;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
    content: '';
}
.header .loginbox{
    display: none;
    background: url(../images/7-36.png) no-repeat 0 bottom;
    width: 80px;
    height: 70px;
    position: absolute;
    top: 0;
    padding-top: 37px;
    left: -2px;
}
.header .loginbox .a{
    cursor: pointer;
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    padding: 0;
    color: #474747;
    text-align: center;
}
.header .loginbox .a:hover{
    color: #c2a680;
}

.header .login{
    z-index: 3;
    position: relative;
    margin: 0;
    margin-left: 20px;
    background: none;
}
.header .lang{
    z-index: 2;
    position: relative;
}
.header .scbtn{
    z-index: 1;
    position: relative;
}
.header .search{
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/7-39.png) center bottom no-repeat;
    width: 280px;
    height: 40px;
    padding-top: 40px;
    display: none;
}
.header .search .kw{
    background: none;
    border: none;
    width: 220px;
    height: 100%;
    line-height: 40px;
    padding: 0 10px;
    color: #474747;
    float: left;
}
.header .search .ok{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
}


.header .nav_main{
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 790px;
    text-align: center;
    margin-left: -395px;
    font-size: 0;
}
ol, ul, li{
    list-style: none;
}
.header .nav_main li{
    display: inline-block;
    height: 100%;
    line-height: 48px;
    position: relative
}
.header .nav_main li a{
    display: block;
    height: 100%;
    padding: 0 26px;
    font-size: 14px;
    color: #474747;
}
.header .nav_main li a:hover{
    color: #c2a680;
}
.header .nav_main li b{
    position: absolute;
    left: 50%;
    margin-left: -9px;
    width: 18px;
    height: 10px;
    display: block;
    bottom: 0;
    visibility: hidden
}
.header .nav_main li b img{
    vertical-align: top;
}




.header .nav_child{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}
.header .nav_child .child{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    display: none;
    background: url(../images/7-32.png);
}
.header .nav_child .c1{
    background: url();
}
.header .nav_child .child .p{
    display: inline-block;
    margin-left: 450px;
}
.header .nav_child .child p{
    display: inline-block;
    margin-right: 10px;
}
i, em, b, strong{
    font-style: normal;
    font-weight: normal;
}
.header .nav_child .child strong{
    color: #fff;
    background: url(../images/7-33.png) right 18px no-repeat;
    padding-right: 15px;
    margin-right: 8px;
    display: inline-block;
}
.header .nav_child .child strong a{
    font-size: 14px;
}
.header .nav_child .child strong a:hover{
    color: #c2a680;
}
.header .nav_child .child p a{
    font-size: 12px;
    margin-right: 10px;
}
.header .nav_child .child a{
    color: #fff;
}
.header .nav_child .child p.last{
    margin: 0;
}
/* 三角点击事件 */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.children.navbar .layer{
    height: 100%;
}
.navbar .layer{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background: url(../images/7-3.jpg) center top repeat;
}
.popWindow .close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    overflow: hidden;
}
.navbar .close{
    background: url(../images/7-40.png) no-repeat;
    width: 50px;
    height: 50px;
}
.children.navbar .list{
    padding-top: 150px;
}
.navbar .list{
    overflow: hidden;
    display: inline-block;
}
.navbar .item{
    float: left;
    min-width: 160px;
    color: #fff;
    text-align: center;
}
.navbar .item a{
    color: #eaa1a1;
}
.navbar .item h1{
    font-family: fzfysjt;
    font-size: 26px;
    padding-bottom: 26px;
    background: url(../images/7-37.png) center bottom no-repeat;
    margin-bottom: 12px;
    color: inherit;
}
.navbar .item dl{
    background: url(../images/7-38.png) center top no-repeat;
    padding-top: 18px;
    margin-bottom: 14px;
}
.navbar .item dd{
    font-size: 16px;
    padding: 4px 0;
}







/* 探索故宫开始 */
.tansuo-w {
    height: 55px;
    color: #707070;
    font-size: 12px;
}
.tansuo-w a {
    font-size: 14px;
    margin: 0 10px;
}
.tansuo {
    text-align: center;
}
.tansuo-t {
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.tansuo-t img {
    width: 22px;
    height: 32px;
    vertical-align: middle;
    margin: 0 10px;
}
.tansuo-t span {
    display: inline-block;
    font-size: 26px;
    color:#474747;
    vertical-align: middle;
}
.tansuo-b {
    width: 100%;
    height: 590px;
    padding-top:30px;
}
.tansuo-bb {
    position: relative;
    width: 100%;
    height:590px;
    background: url(../images/5-1-3.png);
    overflow: hidden;
}
.tansuo-mg {
    position: absolute;
    top: 155px;
    right: 63px;
    width: 167px;
    height: 185px;
    z-index: 1;
    display: none;
}
.tansuo-mg img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 20px;
    height: 20px; */
}
.tansuo-img {
    position: absolute;
    right: -300px;
    bottom: -300px;
    width: 940px;
    height: 549px;
    /* z-index: -1; */
}
.tansuo-text {
    position: absolute;
    top: 106px;
    left: 66px;
    width: 925px;
    height: 388px;
}
.tansuo-text h3 {
    color: #fff;
    line-height: 32px;
    font-size:26px;
    padding-left: 20px;
    font-weight: 400;
}
.tansuo-text .tex-spn {
    display: inline-block;
    margin: 0 4px;
}
.tansuo-text h3 img{
    width: 22px;
    height: 32px;
}
.tansuo-text h3 span {
    vertical-align: middle;
}
.tansuo-text p {
    text-indent: 2em;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
}
.tansuo-text .tansuo-as {
    margin-top: 45px;
    margin-bottom: 40px;
    height: 90px;
}
.tansuo-as a {
    display: block;
    width: 90px;
    height: 72px;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 18px;
    margin-right: 10px;
   
}
.tansuo-as .tansuo-bgc {
    background: url(../images/5-1-10.png) center no-repeat;
}
.tansuo-as a span {
    display: block;
    padding-top: 27px;
    background: url(../images/5-1-7.png) center top no-repeat;
}
.tansuo-as .more {
    width: 90px;
    height: 72px;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.tansuo-as .more span {
    display: block;
    background: url(../images/5-1-8.png) center top no-repeat;
    padding-top: 27px;
}
.tansuo-text .map {
    width: 90px;
}
.tansuo-text .map img {
    width: 90px;
    height: 88px;
}
.tansuo-text .map span {
    display: block;
    width: 90px;
    text-align: center;
    font-size: 19px;
    color: #fff;
}
/* 探索故宫结束 */

/* 藏品开始 */
.cangpin-w {
    position: relative;
    padding-top: 50px;
    height: 720px;
}
.cangpin-w .div1 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 628px;
    height: 240px;
    background-color: #F4F4F4;
}
.cangpin {
    position: absolute;
    top: 28px;
    left: 30px;
    display: none;
}
.cangpin-r {
    position: absolute;
    top: 64px;
    right: 37px;
    width: 363px;
    height: 120px;
    /* background-color: #ccc; */
}
.cangpin-r h2 {
    margin-left: 10px;
    font-size: 26px;
    font-weight: 400;
    color: #5D5F5D;
    line-height: 100%;
}
.cangpin-r h2 img {
    width: 22px;
    height: 32px;
}
.cangpin-r p {
    margin-top: 28px;
    font-size: 14px;
}
.cangpin-w .div2 {
    position: absolute;
    top: 50px;
    right: 0;
    width: 630px;
    height: 240px;
}
.cangpin-w .div3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 628px;
    height: 480px;
    background: url(../images/5-2-3.png);
    overflow: hidden;
}
.div3 .foxiang {
    position: absolute;
    top:450px;
    left: 35px;
    width: 415px;
    height: 475px;
}
.div3 .foxiang-r {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 405px;
    height: 241px;
    text-align: center;
    /* background-color: #ccc; */
}
.div3 .foxiang-r h3 {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
}
.div3 .foxiang-r span {
    display: inline-block;
    font-family: impact;
    color: #fff;
    font-size: 46px;
}
.div3 .foxiang-r i {
    display: inline-block;
    margin: 10px 0 0 10px;
    width: 44px;
    height: 42px;
    background: url(../images/5-2-5.png) no-repeat;
}
.div3 .foxiang-r h4 {
    margin: 20px auto 0;
    width: 202px;
    height: 39px;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    background: url(../images/5-2-6.png) center center no-repeat;
}
.div3 .foxiang-r h4 span {
    display: inline-block;
    padding-right: 20px;
    background: url(../images/5-2-7.png) no-repeat right center;
}
.div3 .foxiang-r h4 span a {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.foxiang-img {
    margin-top: 12px;
}
.cangpin-w .zonmu {
    margin: 30px auto 0;
    min-width: 80px;
    text-align: center;
    height: 37px;
    line-height: 37px;
    padding: 0 14px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.cangpin-w .div4 {
    height: 240px;
    position: absolute;
    left: 628px;
    top: 290px;
    width: 630px;
    /* background-color: #ccc; */
}
.div4 .div4-l {
    float: left;
    width: 315px;
    height: 240px;
    background: url(../images/5-2-9.png);
    overflow: hidden;
}
.div4-l-t {
    width: 203px;
    height: 176px;
    margin: 40px 56px 0;
    /* background-color: #ccc; */
}
.div4-l-t h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400;
}
.div4-l-t p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.div4 .div4-r {
    float: left;
    height: 240px;
    width: 315px;
    overflow: hidden;
}
.div4-r img {
    position: relative;
    top: 0;
    left: 0;
}
.cangpin-w .div5 {
    height: 240px;
    position: absolute;
    left: 628px;
    bottom: 0;
    width: 630px;
    /* background-color: #ccc; */
}
.div5 .div5-l{
    float: left;
    height: 240px;
    width: 315px;
    overflow: hidden;
}
.div5 .div5-l img {
    position: relative;
    top: 0;
    left: 0;
}
.div5 .div5-r {
    float: left;
    height: 240px;
    width: 315px;
    background: url(../images/5-2-12.png);
}
.div5-r .div5-r-t {
    margin: 40px 56px 0;
}
.div5-r-t h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400;
}
.div5-r-t p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* 藏品结束 */

/* 藏书开始 */
.cangshu-w {
    position: relative;
    top: 144px;
    /* background-color: #ccc; */
    height: 627px;
    text-align: center;
    overflow: hidden;
}
.cangshu {
    width: 100%;
    height: 562px;
    margin-top: 30px;
    background:url(../images/5-3-1.jpg) no-repeat;
    overflow: hidden;
}
.cangshu-t a {
    position: relative;
    top: -300px;
    float: left;
    width: 157px;
    height: 207px;
    background: url(../images/5-3-2.png) center 78px no-repeat;
}
.cangshu-t a span {
    display: inline-block;
    margin-top: 108px;
    width: 30px;
    height: 100px;
    font-size: 20px;
    color: #474747;
}
.cangshu-t-t {
    position: absolute;
    width: 100%;
    bottom: -400px;
    text-align: center;
    left: 0;
}
.cangshu-bgc {
    width: 167px;
    height: 187px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    margin-left: -83.5px;
    line-height: 187px;
    background: url(../images/5-3-4.png) no-repeat;
    display: none;
}
/* 藏书结束 */

/* 历史开始 */
.lishi-w {
    position: relative;
    top: 224px;
    height: 554px;
    /* background-color: #ccc; */
}
.lishi {
    width: 880px;
    margin: 0 auto;
    text-align: center;
    
}
.lishi h2 {
    display: inline-block;
    width: 167px;
    height: 180px;
    margin-bottom: 20px;
    background: url(../images/5-4-1.png);
    /* display: none; */
    
}
.lishi p {
    text-indent: 2em;
    text-align: left;
    font-size: 14px;
    color: #707070;
    line-height: 1.5;
    margin-bottom: 46px;
}
.lishi-t {
    width: 100%;
    height: 176px;
    /* background-color: #ccc; */
    text-align: center;
}
.lishi-t a img{
    -webkit-transition: 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
}
  
.lishi-t div:hover img{
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
}

.lishi-t div {
    position: relative;
    display: inline-block;
    width: 176px;
    height: 176px;
    margin-left: 40px;
}
.lishi-t div h3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 176px;
    font-size: 18px;
    font-weight: 400;
}
.explore4 .btn1 {
    margin: 30px auto 0;
}
.btn1 {
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    position: relative;
    top: 30px;
    left: 592px;
    display: inline-block;
    color: #474747;
}
/* 历史结束 */

/* 工匠开始 */
.gonjiang-w {
    position: relative;
    top: 314px;
    width: 100%;
    height: 587px;
    /* background-color: #ccc; */
    text-align: center;
    overflow: hidden;
}
.gonjiang {
    margin-top: 60px;
    width: 100%;
    height: 492px;
    /* background-color: #ccc; */
}
.gonjiang-l {
    float: left;
    height: 432px;
    width: 309px;
    float: left;
    padding: 60px 62px 0 67px;
    background: url(../images/5-5-1.png);
}
.gonjiang-l h3 {
    margin-bottom: 30px;
}
.gonjiang-l h3 img {
    width: 168px;
    height: 180px;
}
.gonjiang-l p {
    text-indent: 2em;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 22px;
    text-align: left;
}
.gonjiang-l a {
    font-size: 14px;
    color: #fff;
}
.gonjiang-l .btn1 {
    top:25px;
    left: 0px;
}
.gonjiang-r {
    float: left;
    width: 820px;
    height: 492px;
    overflow: hidden;
    /* background-color: red; */
}
.gonjiang-r ul {
    position: relative;
    width: 2520px;
}
.gonjiang-r ul li {
    float: left;
}
.gonjiang-bgc {
    bottom: 20px;
    right: 15px;
    position: absolute;
    width: 120px;
    height: 40px;
    text-align: right;
    /* background-color: red; */
}
.gonjiang-bgc a {
    background: url(../images/5-5-5.png) no-repeat scroll left center;
    display: inline-block;
    height: 24px;
    margin-right: 15px;
    width: 27px;
}
.gonjiang-bgc .bgc {
    background-position: right center;
}
/* 工匠结束 */

/* 文化开始 */
.wenhua-w {
    height: 450px;
    /* background-color: #ccc; */
    position: relative;
    top: 394px;
    text-align: center;
}
.wenhua-w ul {
    padding: 25px 0 40px;
}
.wenhua-w ul li {
    position: relative;
    height: 350px;
    width: 236px;
    float: left;
    margin-left: 19px;
}
.wenhua-w ul .wenhua-li {
    margin-left: 0;
}
.wenhua-w ul .wenhua-l {
    width: 100%;
    height: 100%;
    float: left;
}
.wenhua-w ul .wenhua-l img {
    border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    height: 351px;
}
.wenhua-w ul .wenhua-r {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 351px;
    background: url(../images/5-6-2.png);
}
.wenhua-w ul .wenhua-r a {
    text-align: center;
    display: block;
    margin: 0 auto;
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 22px;
    color: #474747;
    background: url(../images/5-6-7.png) no-repeat center;
    position: relative;
    top: 40px;
}
/* 文化结束 */

.header, .body, .footer{
    min-width: 1258px;
}
.footer{
    position: relative;
    top:375px;
    height: 197px;
    background: #272727;
    padding: 30px 0 27px;
}
.wrap{
    width: 1258px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.footer .num{
    text-align: center;
    color: #fff;
}
.footer .num .inner{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.footer .num .inner i{
    display: inline-block;
    width: 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #404040;
    margin: 0 3px;
}
.footer .code2d{
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: 360px;
    z-index: 110;
}
.footer .code2d a{
    display: block;
    background: url(../images/7-34.png) center center no-repeat;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
.footer .code2d a:after{
    content: "";
    position: absolute;
    left: 55%;
    top: 55%;
    background: url(../images/7-35.png) center center no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
    animation: chand 3s linear 0s infinite;
    -webkit-animation: chand 3s linear 0s infinite;
}
.footer .code2d img{
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 282px;
    margin-left: -141px;
    display: none;
    max-width: none;
    max-height: none;
    margin-bottom: 20px;
}
.footer .nav_foot{
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
.footer .copyright{
    color: #fff;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.footer .btns{
    margin-top: 15px;
    text-align: center;
}
.footer .btns a{
    display: inline-block;
    height: 28px;
    line-height: 26px;
    border: 1px solid #ddd;
    padding: 0 10px;
    color: #fff;
}
#footer .proposal{
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
    background: #474747;
    border-top: 1px solid #474747;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -60px;
    z-index: 9999;
}